<div class="d-flex">
  <nav class="w-100">
    <ul class="d-flex justify-content-between">
      <li><a routerLinkActive="active" routerLink="/ngrx-store">NgRx Store</a></li>
      <li><a routerLinkActive="active" routerLink="/ngrx-entity">NgRx Entity</a></li>
      <li><a routerLinkActive="active" routerLink="/component-store">Ngrx Component Store</a></li>
      <li><a routerLinkActive="active" routerLink="/signal-store">Ngrx Signal Store</a></li>
      <li><a routerLinkActive="active" routerLink="/signal-store-entity">Signal Store Entity </a></li>
      <li><a routerLinkActive="active" routerLink="/ngrx-data">NgRx Data </a></li>
    </ul>
  </nav>
</div>
